{
    "port": 8001,
    "appDir": "app",
    "dataDir": "data/open",
    "resultsDir": "data/done",
    "updateScript": "update.sh",
    "idleExperimentsCheckInterval": 15,
    "experimentResetTime": 60
}